<% @groups.each do |group| %>
  <div class='meetups'>
     <%= image_tag(group.photo_url, class: "group_image") %>
      <h1><%= link_to group.name, "http://www.meetup.com/#{group.url_name}" %></h1>
    <p><a href="#" class="button radius">Add</a></p>
  </div>
<% end %>