<% cache(action: "index") do %>
  <% @groups.each do |group| %>
    <div class='meetups'>
      <% group.map do |group| %>
       <%= image_tag(group[:group_photo][:photo_link], class: "group_image") %>
        <h1><%= link_to group[:name], "http://www.meetup.com/#{group[:urlname]}" %></h1>
      <% end %>
      <p><a href="#" class="button radius">Add</a></p>
    </div>
  <% end %>
<% end %>