<div class='landing'>
  <div class="welcome">
    <h1 color="color: white" style="color: white";>Welcome to MeetupMatcher!</h1><br>
    <h4 color="color: white" style="color: white";>Meetup group recommendations based on the analysis of your tweets</h4>
    <br>
    <a href="#" data-reveal-id="myModal" id="twitter-login"><%= link_to image_tag("login-twitter.png"), "/auth/twitter" %></a>
  </div>
</div>

<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Awesome. I have it.</h2>
  <p class="lead">

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
