<h1 class ="header">My Meetups</h1>
<div class='meetups'>
  <h1><%= link_to "Meetup 1", meetup_path(1) %></h1>
  <p>Single-origin coffee semiotics Etsy, hella Neutra mustache ugh.</p>
  <a href="#" class="button radius">Add</a>
</div>


<div class='meetups'>
  <h1><%= link_to "Meetup 2", meetup_path(1)  %></h1>
  <p>
    Meditation kogi before they sold out hashtag, art party pickled ennui.
  </p>
  <a href="#" class="button radius">Add</a>
</div>
