<h1 class ="header">My Meetups</h1>

<% current_user.favorites.each do |favorite| %>
<div class='meetups'>
    <%= image_tag(favorite.photo_url, class: "group_image") %>
    <h1><%= link_to favorite.name, "http://www.meetup.com/#{favorite.url_name}" %></h1>
    <p><%= button_to "Remove From Favorites", favorite_path(id: favorite.id), class:"button radius", method: :delete %></p>
</div>
  <% end %>
